name: Pull Request build and release

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-build-and-release:
    uses: ./.github/workflows/build-and-deploy.yaml
    permissions:
      actions: write
      checks: write
      contents: write

    with:
      gradle_tasks: check dockerPushVersion --stacktrace --warning-mode all
    secrets:
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_password: ${{ secrets.DOCKER_HUB_PASSWORD }}